<!DOCTYPE html>
{%load static %}
<html lang="en">
<head>
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap.min.css">

	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
       <link rel="stylesheet" href="{% static 'css/styles1.css' %}">

</head>
<body>


            <div class="navbar">
            <img class="logo" src="static/images/adlogo.png" width="100px" height="100px">
            <ul class="list-unstyled">
				<li><a href="{% url 'showhome' %}">HOME</a></li>
               </ul>
           </div>

<form  method="post">
	{% csrf_token %}
	<div class="container">

		<div class="row">
			<div class="col-md-4 offset-md-4 col-10 offset-1 login-main rounded pb-4 pt-4">
				<form action="" class="blur">
					<div class="row">
						<div class="col-md-4 col-12 heading-image text-white text-center">
                            <p class="login">LOGIN</p>
							<h5>{{ msg }} </h5>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12 col-12 mt-5">
					      	<div class="input-group">
					        	<div class="input-group-prepend">
					          		<span class="input-group-text bg-white border-0 p-3">
                                        <i class="fa fa-user"></i></span>
					        	</div>
					        	<input type="text" class="form-control border-1 pl-3" name="t1" placeholder="Username" aria-describedby="validationTooltipUsernamePrepend" required>
					      	</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12 col-12 mt-3">
					      	<div class="input-group">
					        	<div class="input-group-prepend">
					          		<span class="input-group-text bg-white border-0 p-3" id="validationTooltipUsernamePrepend"><i class="fa fa-lock" aria-hidden="true"></i></span>
					        	</div>
					        	<input type="password" class="form-control border-0 pl-3 pb-0" name="t2" id="validationTooltipUsername" placeholder="Password" aria-describedby="validationTooltipUsernamePrepend" required>
					      	</div>
						</div>
					</div>

					<div class="row">
						<div class="col-md-12 col-12 mt-3">
					      	<button type="submit" class="btn btn-info rounded-1 w-100">LOGIN</button>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12 col-12 mt-3 options">
					      	<div class="row">
					      		<div class="col-md-6 col-12 pl-4"></div>
					      		<div class="col-md-6 col-12 pl-4">
					      			<a href="{% url 'forgetpass' %}" class="text-white"><i>Forgot Password?</i></a>
					      		</div>
					      	</div>
						</div>
					</div>
				</form>
			</div>
			<div class="col-md-4 offset-md-4 col-12 text-white text-center mt-2 copyright-main">
				<p class="loginfoot">Advertising and Event Managment</p>
			</div>
		</div>

	</div>
	
</form>
</body>
</html>