<!DOCTYPE html>
{%load static %}
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
     <!--<link rel="stylesheet" href="{% static 'css/sty.css' %}">-->
</head>
{% include 'customer_header.html'%}
<body >
<form >
 <img src="{% static 'images/qr.jpg' %}"  style="padding: 100px 50px 0px 600px;"/>
</form>
</body>
</html>